#home{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 30%,rgba(255, 255, 255, 0.8) 60%, rgba(230, 230, 230, 1) ),url('../img/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-wrapper-home{
    grid-template-columns: 65% auto;
}

.right-element{
    grid-column-start: 2;
    grid-column-end: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40vh 10%;
}

#necklace-introduction{
    margin-top: 18vh;
}